<h3>AGREGAR PRODUCTO</h3>
<form method="post" action="/productos">
    <label for="title">Title</label>
    <input type="text" id="title" name="title">
    <label for="price">Price</label>
    <input type="number" id="price" name="price">
    <label for="thumbnail">Thumbnail</label>
    <input type="text" id="thumbnail" name="thumbnail">
    <input type="submit" value="Enviar">
</form>
